

@{
    ViewBag.Title = "ShowCart";
}

<h2>ShowCart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form action="@Url.Action("ConfirmOrders", "Customer")" method="post">
    <table class="table">
        <tr>
            <th>
                Pid
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>

        @foreach (var item in Model.AllOrders)
        {
            
            <tr>
                <td>
                    <input type="text" name="AllOrders[@item.Pid].Pid" value="@item.Pid" />
                </td>
                <td>
                    <input type="text" name="AllOrders[@item.Pid].Name" value="@item.Name" />
                </td>
                <td>
                    <input type="text" name="AllOrders[@item.Pid].Price" value="@item.Price" />
                </td>
                <td>
                    <input type="number" name="AllOrders[@item.Pid].Quantity" value="@(item.Quantity)" />
                </td>
            </tr>
        }
        
    </table>


    <input type="submit" value="Confirm Order" class="btn btn-danger" />
</form>